body{

background-color: rgb(254, 238, 255);

}

body{

border-bottom: 15px;
border-color: bisque;

}

h1 {

color: black;
text-align: center;
margin-top: 15%;
text-shadow: black;
font-style: oblique;
font-size: 65px;
}


h2 {
    
    color: black;
    margin-left: 10px;
    margin-right: 20%;
    text-shadow: black;
    font-style: oblique;
    font-size: 30px;
}

h3{

    font-size: 30px;
    margin-left: 10px;
    margin-right: 20%;
    }
    
h4{

color: black;
margin-left: 10px;
margin-right: 20%;
text-shadow:black;
font-style: oblique;
font-size: 30px;

}

h5{

    font-size: 30px;
    margin-left: 10px;
    margin-right: 20%;
}

p{
font-size: 15px;
font-style: oblique;
margin-left: 50px;
margin-right: 20%;
}

img {
     max-width: 500px;
    display:block; 
    border-radius: 25px;
        margin-left: 10px;
        margin-right: 20%;
}
   .Chocolate {
    height: 200px;
    width: 400px;

   }
   img {
    max-width: 300px;
    display:block; 
    border-radius: 25px;
        margin-left: 10px;
        margin-right: 200px;
 }

   .Cenoura {
    height: 200px;
    width: 400px;
}

   .Laranja {
    
    height: 200px;
    width: 200px;
   
}


.navbar {
    overflow: hidden;
    background-color: rgb(229, 204, 231);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--sombra);
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #fde4e4;
    color: black;
    
  }


  @media only screen and (max-width: 400px) {

    p{
        margin: auto;
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10%;
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 500px;
        
    }

}